
.vs/UMVC3TrainingTools/v17
*.exe
*.pdb
UMVC3TrainingTools/x64/Release/
UMVC3TrainingTools/Debug/
.vs/UMVC3TrainingTools/FileContentIndex/
UMVC3TrainingTools/x64/Debug/
UMVC3TrainingTools/Release

UMVC3Hook/x64/Debug/addr.obj
UMVC3Hook/x64/Debug/buffer.obj
UMVC3Hook/x64/Debug/Camera.obj
UMVC3Hook/x64/Debug/dllmain.obj
UMVC3Hook/x64/Debug/dx9hook.obj
UMVC3Hook/x64/Debug/eKeyboardMan.obj
UMVC3Hook/x64/Debug/gui_impl_dx9.obj
UMVC3Hook/x64/Debug/hde32.obj
UMVC3Hook/x64/Debug/hde64.obj
UMVC3Hook/x64/Debug/hitboxRender.obj
UMVC3Hook/x64/Debug/hook.obj
UMVC3Hook/x64/Debug/Hooks.obj
UMVC3Hook/x64/Debug/imgui.obj
UMVC3Hook/x64/Debug/imgui_demo.obj
UMVC3Hook/x64/Debug/imgui_draw.obj
UMVC3Hook/x64/Debug/imgui_impl_dx9.obj
UMVC3Hook/x64/Debug/imgui_impl_win32.obj
UMVC3Hook/x64/Debug/imgui_tables.obj
UMVC3Hook/x64/Debug/imgui_widgets.obj
UMVC3Hook/x64/Debug/IniReader.obj
UMVC3Hook/x64/Debug/log.obj
UMVC3Hook/x64/Debug/Matrix.obj
UMVC3Hook/x64/Debug/Menu.obj
UMVC3Hook/x64/Debug/notifications.obj
UMVC3Hook/x64/Debug/Patterns.obj
UMVC3Hook/x64/Debug/pch.obj
UMVC3Hook/x64/Debug/Settings.obj
UMVC3Hook/x64/Debug/sigscan.obj
UMVC3Hook/x64/Debug/trampoline.obj
UMVC3Hook/x64/Debug/UMVC3Hook.ilk
UMVC3Hook/x64/Debug/UMVC3Hook.log
UMVC3Hook/x64/Debug/UMVC3Hook.pch
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/CL.command.1.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/Cl.items.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/CL.read.1.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/CL.write.1.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/link.command.1.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/link.read.1.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/link.write.1.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/link.write.2u.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/rc.command.1.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/rc.read.1.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/rc.write.1.tlog
UMVC3Hook/x64/Debug/UMVC3Hook.tlog/UMVC3Hook.lastbuildstate
UMVC3Hook/x64/Debug/vc143.idb
UMVC3Hook/x64/Debug/Vector.obj
ThreeHook/glm
ThreeHook/x64/Debug
ThreeHook/Debug/
ThreeHook/gui
ThreeHook/x64/Release/
ThreeHook/Release/
x64/TestBuildFeb19.7z
x64/TestBuildMar7.7z
x64/TestBuildMay1.7z
